@model IEnumerable<EBibliotheque.Models.Livre>

<h2>Livres</h2>

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateParution)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Titre, "Livre", "Afficher", new {id = item.Id}, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateParution)
                </td>
            </tr>
        }

    </table>
}
else
{
  <p>Pas de livre trouvé</p>
}
