@model List<EBibliotheque.Models.Auteur>

@{
    ViewBag.Title = "Auteurs";
}

<h2>Auteurs</h2>

<table class="table">
    <tr>
        <th>Nom</th>
    </tr>

@foreach (var item in @Model) {
    <tr>
        <td>
            @Html.ActionLink(@item.Nom, "Auteur", "Afficher", new { id = item.Id}, null)
        </td>
    </tr>
}

</table>
